/*
  sssssst toolbar icon for gin toolbar
*/

a.toolbar-icon-admin-toolbar-tools-help:before,
a.toolbar-icon-admin-toolbar-tools-help:active:before,
a.toolbar-icon-admin-toolbar-tools-help.is-active:before {
  background: initial !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center center !important;
  background-image: url(../icons/sssssst-logo.svg) !important;
  box-sizing: content-box;
  -webkit-mask-image: none !important;
  mask-image: none !important;
  -webkit-mask-position: inherit !important;
  width: 30px !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
}
